<!--
    CommandMC - Execute command on a Minecraft server with Twitch channel redemptions.
    Copyright (C) 2022  HayHay404 <hayhayisaloser01@gmail.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">CommandMC</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
        <li>
            <a id="signInUri" href="">Sign in/up</a>
        </li>
        <!--
        <li tabindex="0">
            <a>
            Parent
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
            </a>
            <ul class="p-2 bg-base-100">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
            </ul>
        </li>
        <li><a>Item 3</a></li>
        -->
        </ul>
    </div>
</div>

<script>
    document.getElementById("signInUri").setAttribute("href", `https://id.twitch.tv/oauth2/authorize?client_id=uylyy4e14b2o78sg0815cbj5o4mmbb&redirect_uri=https://web.whalepc.xyz&response_type=code&scope=chat:read+chat:edit+channel:manage:redemptions+channel:read:redemptions+user:read:email`);
</script>