<!--
CommandMC - Execute command on a Minecraft server with Twitch channel redemptions.
Copyright (C) 2022  HayHay404 <hayhayisaloser01@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="m-4 place-items-center grid">
        <h1 class="text-5xl">Create new reward</h1>

        <form class="form form-control w-full max-w-md" method="post">
            <label for="name" class="label label-text">Reward name</label>
            <input class="input input-bordered w-full m-2" type="text" name="name" id="name" required placeholder="Whitelist">
            <label for="cost" class="label label-text">Cost</label>
            <input class="input input-bordered w-full m-2" type="number" name="cost" id="cost" required placeholder="1000">
            <label for="command" class="label label-text">Server Command</label>
            <input class="input input-bordered w-full m-2" type="text" name="command" id="command" required placeholder="whitelist add $user">
            <label class="label cursor-pointer">
                <span for="isSubscription" class="label-text">Subscription</span>
                <input class="toggle toggle-primary" type="checkbox" name="isSubscription" id="isSubscription">    
            </label>
            <label class="label cursor-pointer">
                <label for="isBits" class="label-text">Bits</label>
                <input class="toggle toggle-primary" type="checkbox" name="isBits" id="isBits">
            </label>
            <input type="number" name="bits" id="bits" class="input input-bordered w-full m-2" disabled>

            <button class="btn btn-primary m-2">Submit</button>
        </form>
    </div>
</body>
</html>

<script>
    const bitsField = document.querySelector("#bits");
    const bitsToggle = document.querySelector("#isBits")

    bitsToggle.addEventListener("click", (e) => {
        if (bitsToggle.checked) {
            bitsField.disabled = false
        } else {
            bitsField.disabled = true
        }
    })
</script>